.lobby {
  display: flex;
  background-color: var(--blue-200);
  animation: bg-animate 17s infinite;
  animation-direction: alternate;
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow-y: auto;
}

@keyframes bg-animate {
  25% {
    background: var(--blue-200);
  }
  50% {
    background: var(--purple-200);
  }
  75% {
    background: var(--green-200);
  }
  100% {
    background: var(--red-200);
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-50);
  padding: var(--4) 100px;
  max-width: 859px;
  margin: auto auto;
  border-radius: var(--4);
  border-bottom: var(--6) solid var(--neutral-100);
}

.banner .bannerRight {
  flex: 1;
  text-align: center;
}

.banner .bannerPin {
  font-size: var(--64);
  font-weight: 900;
}
