.lobby {
  background-color: var(--blue-200);
  animation: bg-animate 17s infinite;
  animation-direction: alternate;
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow-y: auto;
}

@keyframes bg-animate {
  25% {
    background: var(--blue-200);
  }
  50% {
    background: var(--purple-200);
  }
  75% {
    background: var(--green-200);
  }
  100% {
    background: var(--red-200);
  }
}

.controls {
  position: fixed;
  top: var(--12);
  right: var(--12);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--20);
  background-color: var(--neutral-50);
  padding: var(--4) var(--20);
  max-width: 800px;
  margin: var(--36) auto;
  border-bottom: var(--6) solid var(--neutral-100);
}

.banner .bannerLeft {
  flex: 1;
  text-align: right;
}

.banner .bannerRight {
  flex: 1;
  text-align: left;
}

.banner .bannerLabel {
  font-size: var(--28);
  font-weight: 600;
  line-height: var(--36);
  color: var(--neutral-700);
}

.banner .bannerPin {
  font-size: var(--64);
  font-weight: 900;
}

.banner .bannerUrl {
  background-color: var(--neutral-950);
  color: var(--neutral-50);
  box-shadow: 0 0 0 var(--8) var(--neutral-950);
  transform: rotate(-2deg);
  display: inline-block;
  margin-left: var(--10);
  margin-bottom: var(--8);
  font-weight: 800;
}

.container {
  max-width: 300px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: var(--36);
  flex-direction: column;
}

.playerCountStart {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding: var(--12) var(--20);
  font-size: var(--24);
  font-weight: 600;
  gap: var(--24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--16);
  height: 50vh;
  overflow: scroll;
  align-content: baseline;
}

.playerList::-webkit-scrollbar {
  max-width: 20px;
}

.playerList::-webkit-scrollbar-corner {
  background-color: transparent;
}

.playerList::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--6);
  width: 20px;
}

.playerList::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

.playerList .player {
  flex: 0 0 calc(33.33% - 10px);
  background-color: rgba(0, 0, 0, 0.6);
  padding: var(--20);
  height: fit-content;
  max-width: 300px;
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.1);
  color: var(--blue-50);
  font-weight: 600;
  font-size: var(--24);
}

.playerList .player:hover {
  text-decoration: line-through;
}

.playerList .playerAnimate {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}