.game {
  background-color: var(--blue-200);
  animation: bg-animate 200s infinite;
  animation-direction: alternate;
  height: 100vh;
  width: 100%;
  position: fixed;
}

@keyframes bg-animate {
  25% {
    background: var(--blue-200);
  }
  50% {
    background: var(--purple-200);
  }
  75% {
    background: var(--green-200);
  }
  100% {
    background: var(--purple-200);
  }
}

.controls {
  position: fixed;
  bottom: var(--12);
  right: var(--12);
  z-index: 10;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  background-color: var(--neutral-50);
  padding: var(--12);
  font-size: var(--36);
  text-align: center;
  z-index: 6;
  position: relative;
  border-bottom: var(--6) solid var(--neutral-100);
  height: var(--48);
}

.topContent {
  display: inline-flex;
  align-items: center;
  gap: var(--6);
  color: var(--neutral-900);
  font-weight: 700;
}

.signContainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--6);
}

.sign {
  position: relative;
  max-width: fit-content;
  background: #704214;
  border-radius: 2px;
  display: inline-block;
  padding: 7px 8px;
  font-weight: 700;
  color: #f6e5d3;
  transform: rotate(-2deg);
  margin-bottom: var(--16);
  font-size: var(--36);
  box-shadow:
    inset 0 -15px #7a4613,
    0 4px rgb(98 57 17 / 20%);
  margin-top: var(--16);
}

.sign::before,
.sign::after {
  content: "";
  position: fixed;
  width: 16px;
  height: 87px;
  background-color: #704214;
  z-index: 4;
  box-shadow: inset 0 -4px rgb(0 0 0 / 28%);
}

.sign::before {
  top: -86px;
  left: 9px;
}

.sign::after {
  top: -86px;
  right: 10px;
}

.leaderboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: auto;
}

.leaderboard {
  width: 100%;
  margin: auto;
  max-height: 78vh;
  overflow: auto;
  padding: 0 var(--10);
}

.leaderboard::-webkit-scrollbar {
  max-width: 20px;
}

.leaderboard::-webkit-scrollbar-corner {
  background-color: transparent;
}

.leaderboard::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--6);
  width: 20px;
}

.leaderboard::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

.pause {
  position: fixed;
  bottom: var(--10);
}
