.container {
  display: flex;
  height: calc(100vh - var(--48));
  width: 100%;
  position: fixed;
  overflow-y: auto;
  top: var(--52);
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  overflow-y: scroll;
}

.col:first-child {
  flex-basis: 25%;
  padding: var(--28);
}

.col:nth-child(2) {
  flex-basis: 45%;
  padding: var(--20);
}

.col:last-child {
  flex-basis: 30%;
  padding: 0;
  overflow-y: hidden;
}

@media (max-width: 992px) {
  .container {
    flex-wrap: wrap;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2) {
    flex-basis: 100%;
  }

  .col:last-child {
    flex-basis: 100%;
  }
}

.col::-webkit-scrollbar {
  max-width: var(--12);
}

.col::-webkit-scrollbar-corner {
  background-color: transparent;
}

.col::-webkit-scrollbar-thumb {
  background: var(--neutral-100);
  width: var(--12);
}

.col::-webkit-scrollbar-thumb:hover {
  background: var(--neutral-400);
}

.hintContainer {
  margin-top: var(--16);
}
