button {
  cursor: pointer;
  background-color: var(--neutral-100);
  color: var(--neutral-950);
  border-radius: var(--16);
  border: var(--4) solid;
  border-color: var(--neutral-600);
  font-family: inherit;
  font-weight: 900;
  transition: 0.1s;
  box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.25);
}

button:hover {
  transition: 0.1s ease-out;
  transform: translateY(-2px);
  filter: brightness(1.03);
}

button:active {
  transform: translateY(0px);
  transition: 0.1s;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1);
}

button:focus-visible {
  outline: unset;
  box-shadow:
    inset 0px -6px 0px rgba(0, 0, 0, 0.1),
    0 0 0 4px var(--blue-400);
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.md {
  font-size: var(--16);
  padding-top: var(--12);
  padding-bottom: var(--16);
  padding-left: var(--16);
  padding-right: var(--16);
}

.lg {
  font-size: var(--20);
  padding-top: var(--16);
  padding-bottom: var(--20);
  padding-left: var(--20);
  padding-right: var(--20);
}

.blue {
  color: var(--blue-950);
  background-color: var(--blue-400);
}

.green {
  color: var(--neutral-50);
  background-color: var(--green-500);
}

.neutral {
  border-color: var(--neutral-700);
}
