.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  padding: var(--16) var(--20);
  height: var(--20);
  border-bottom: var(--2) solid var(--neutral-200);
  z-index: 5;
  position: relative;
  background-color: var(--neutral-50);
}

.left {
  justify-self: flex-start;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.left .leftContainer {
  display: flex;
  align-items: center;
  text-align: left;
  gap: var(--12);
}

.left .leftItem {
  width: 300px;
  max-width: 300px;
}

.left .leftItem span {
  color: var(--neutral-900);
}

.mid {
  display: inline-block;
}

.right {
  justify-self: flex-end;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  gap: var(--16);
  align-items: center;
}

.nickname {
  font-weight: 700;
  font-size: var(--16);
  color: var(--neutral-900);
}
