.question {
    display: block;
    align-items: center;
    text-align: left;
    padding: var(--16) var(--20);
    height: var(--144);
    width: 100%;
    background-color: transparent;
}

.left {
    justify-self: flex-start;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
}

.mid {
    display: inline-block;
}

.right {
    justify-self: flex-end;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
}

.title {
    font-weight: 750;
    font-size: var(--20);
    color: black;
    font-family: 'Lato';
    line-height: 2;
}

.description {
    font-size: var(--16);
    color: black;
    font-family: 'Lato';
    font-weight: 400;
}
