.scene {
  background-color: var(--blue-200);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.crane {
  display: flex;
  justify-content: center;
  top: 0;
  position: absolute;
}

.tower {
  display: flex;
  justify-content: center;
  margin-bottom: -60px;
}
