.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  padding: var(--24);
  height: var(--64);
  border-bottom: var(--4) solid var(--neutral-200);
}

.left {
  text-align: start;
  display: flex;
  justify-content: flex-start;
}

.mid {
  display: inline-block;
}

.right {
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
