.CodeMirror-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.CodeMirror {
    font-family: 'Monaco', monospace;
    font-size: 14px;
    background-color: #f5f5f5;
    color: #333;
    border: none;
}

.CodeMirror-linenumbers {
    background-color: #333;
    color: #fff;
    width: 30px;
}

.CodeMirror-activeline-background {
    background-color: #e8f2ff;
}

.cm-comment {
    color: #ff005d;
    font-style: italic;
}

.cm-string {
    color: #006eff;
}

.cm-keyword {
    color: #04ce66;
}
